# Ignore everything
*

# Except these folders
!map/
!map/**
!wirtschaftskreislauf/
!wirtschaftskreislauf/**

# But ignore these
map/*.png
map/*.csv
map/uploads/
wirtschaftskreislauf/screenshot.png

# And keep these files
!index.html
!.gitignore
!.nojekyll
